{% extends 'layouts/admin.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div  class="container-fluid">
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Usuarios</div>
    <div style="z-index:0;" class="card-body">
        <table class="table nowrap dt-responsive responsive" id="Usuarios" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th width="3%">Id</th>
              <th>Nombre</th>
              <th width="10%">Teléfono movil</th>
              <th width="10%">País y Ciudad</th>
              <th width="3%">BTC</th>
              <th width="3%">MLM</th>
              <th width="20%"></th>
              <th width="20%"></th>
            </tr>
          </thead>
          <tfoot>
          </tfoot>
          <tbody>
          </tbody>
        </table>
    </div>
  </div>
</div>

{% endblock %}
{% block modal %}
<div class="modal fade" id="borrarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¿Seguro que desea borrar el usuario?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div id="BotonBorrar" class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="">Borrar</a>
          </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$(document).ready(function() {
        usersList();
    });

function usersList() {

  fetch('{{ path('list_Users') }}',{method: 'GET'})
    .then(response => response.json())
    .then(myJson => {
        var table = $('#Usuarios').DataTable({
        language: {
             "decimal": "",
             "emptyTable": "No hay información",
             "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
             "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
             "infoFiltered": "(Filtrado de _MAX_ total entradas)",
             "infoPostFix": "",
             "thousands": ",",
             "lengthMenu": "Mostrar _MENU_ Entradas",
             "loadingRecords": "Cargando...",
             "processing": "Procesando...",
             "search": "Buscar:",
             "zeroRecords": "Sin resultados encontrados",
             "paginate": {
                 "first": "Primero",
                 "last": "Ultimo",
                 "next": "Siguiente",
                 "previous": "Anterior"
             }
        },
        columns: [
            null,
            { "orderable": false },
            { "orderable": false },
            { "orderable": false },
            { "orderable": false },
            { "orderable": false },
            { "orderable": false },
            { "orderable": false }
        ],
        responsive: true,
        rowReorder: {
            selector: 'td:nth-child(2)'
        },
        destroy: true,
        });

     table.clear();
    for (var i = 0; i < myJson[0].length; i++) {
        var id = myJson[0][i].id
        var x = "modalBorrar("+id+")";
        var uri = "{{ path('user_list_monedas',{'id': 'id'} )}}";
        uri = uri.replace('id', id);
        var botonList = `<a class='botonAcccion btn btn-success' href='${uri}'><span class='hidden-xs'>Monedas</span></a>`;
        var botonborrar = `<button type='button' id='ButtonBorrar' onclick='${x}' class='botonAcccion btn btn-danger'><span class='hidden-xs'>Borrar usuario</span></button>`;

        var paisCiudad = "" + myJson[0][i].pais +" - "+ myJson[0][i].ciudad;
        table.row.add([
            myJson[0][i].id,
            myJson[0][i].nombres,
            myJson[0][i].telmovil,
            paisCiudad,
            myJson[0][i].monedasBitcoin,
            myJson[0][i].monedasMarketcoin,
            botonList,
            botonborrar,
        ]);
     }
     table.draw();
    })
    .catch(function(err) {
       console.log(err);

    });
}

function modalBorrar(id)
{
    var uri  = "{{ path('delete_User',{'id': 'id'} )}}"
    uri = uri.replace('id', id);
    var content = `<button class='btn btn-secondary' type='button' data-dismiss='modal'>Cancel</button>
        <a class='btn btn-primary' href='${uri}'>Borrar</a>`;
    document.getElementById("BotonBorrar").innerHTML = content;
    $('#borrarModal').modal('show');
}


</script>

{% endblock %}
