{% extends 'layouts/admin.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Usuarios</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="Usuarios" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th width="3%">Id</th>
              <th>Nombre</th>
              <th width="10%">Teléfono movil</th>
              <th width="10%">País</th>
              <th width="10%">Ciudad</th>
              <th width="3%">BTC</th>
              <th width="3%">MLM</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tfoot>
          </tfoot>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block modal %}
<div class="modal fade" id="borrarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¿Seguro que desea borrar el usuario?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div id="BotonBorrar" class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="">Borrar</a>
          </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$(document).ready(function() {
        usersList();
    });

function usersList() {

  fetch('{{ path('list_Users') }}',{method: 'GET'})
    .then(response => response.json())
    .then(myJson => {
        var table = $('#Usuarios').DataTable({
         "destroy": true,
        });
     table.clear();
     console.log(myJson);
    for (var i = 0; i < myJson[0].length; i++) {
        var id = myJson[0][i].id
        var x = "modalBorrar("+id+")";
        var uri = "{{ path('user_list_monedas',{'id': 'id'} )}}";
        uri = uri.replace('id', id);
        var boton = `<a class='btn btn-success' href='${uri}'>Monedas</a>&nbsp; &nbsp; </span><button type='button' id='ButtonEditar' onclick='${x}' class='btn btn-danger'><span class='hidden-xs'>Borrar usuario</span></button>`;

        table.row.add([
            myJson[0][i].id,
            myJson[0][i].nombres,
            myJson[0][i].telmovil,
            myJson[0][i].pais,
            myJson[0][i].ciudad,
            myJson[0][i].monedasBitcoin,
            myJson[0][i].monedasMarketcoin,
            boton,
        ]);
     }
     table.draw();
    })
    .catch(function(err) {
       console.log(err);

    });
}

function modalBorrar(id)
{
    var uri  = "{{ path('delete_User',{'id': 'id'} )}}"
    uri = uri.replace('id', id);
    var content = `<button class='btn btn-secondary' type='button' data-dismiss='modal'>Cancel</button>
        <a class='btn btn-primary' href='${uri}'>Borrar</a>`;
    document.getElementById("BotonBorrar").innerHTML = content;
    $('#borrarModal').modal('show');
}


</script>

{% endblock %}
