{% extends 'layouts/admin.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}
	<div class="container-fluid" id="contentBody">
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-table"></i>
				Usuarios</div>
			<div style="z-index:0;" class="card-body">
				<table class="table nowrap dt-responsive responsive" id="Usuarios" width="100%" cellspacing="0">
					<thead>
						<tr>
                            <th>Monedas</th>
							<th>Nombre</th>
							<th>Teléfono movil</th>
							<th>Correo</th>
							<th>País y Ciudad</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tfoot></tfoot>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}

{{ parent() }}
<script type="text/javascript">
window.onload = function() {
    usersList();
};
$(document).ready(function() {
        usersList();
});

function usersList() {

  fetch('{{ path('list_Users') }}',{method: 'GET'})
    .then(response => response.json())
    .then(myJson => {
        var table = $('#Usuarios').DataTable({
        language: {
             "decimal": "",
             "emptyTable": "No hay información",
             "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
             "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
             "infoFiltered": "(Filtrado de _MAX_ total entradas)",
             "infoPostFix": "",
             "thousands": ",",
             "lengthMenu": "Mostrar _MENU_ Entradas",
             "loadingRecords": "Cargando...",
             "processing": "Procesando...",
             "search": "Buscar:",
             "zeroRecords": "Sin resultados encontrados",
             "paginate": {
                 "first": "Primero",
                 "last": "Ultimo",
                 "next": "Siguiente",
                 "previous": "Anterior"
             }
        },
        columns: [
            { responsivePriority: 1, "orderable": true },
            { responsivePriority: 1, "orderable": false },
            { responsivePriority: 3, "orderable": false },
            { responsivePriority: 3, "orderable": false },
            { responsivePriority: 3, "orderable": false },
            { responsivePriority: 2, "orderable": false },
            { responsivePriority: 2, "orderable": false }
        ],
        responsive: true,
        destroy: true,
        });

     table.clear();
     console.log(myJson);
    for (var i = 0; i < myJson.length; i++) {
        var id = myJson[i]['user'].id
        var x = "modalBorrar("+id+")";
        var uri = "{{ path('user_list_monedas',{'id': 'id'} )}}";
        uri = uri.replace('id', id);
        var botonList = `<a class='botonAcccion btn btn-success' href='${uri}'><span class='hidden-xs'>Estructuras</span></a>`;
        uri = "{{ path('edit_user',{'id': 'id'} )}}";
        uri = uri.replace('id', id);
        var botonEdit = `<a class='botonAcccion btn btn-warning' href='${uri}'><span class='hidden-xs'>Editar</span></a>`;

        var paisCiudad = "" + myJson[i]['user'].pais + " - "+ myJson[i]['user'].ciudad;
        var nombreCompleto = "" + myJson[i]['user'].nombres + " " + myJson[i]['user'].apellidos;
        table.row.add([
            myJson[i]['totalMonedas'],
            nombreCompleto,
            myJson[i]['user'].telmovil,
            myJson[i]['user'].email,
            paisCiudad,
            botonList,
            botonEdit,
        ]);
     }
     table.draw();
    })
    .catch(function(err) {
       console.log(err);

    });
}
</script>

{% endblock %}
