{% extends 'layouts/base.html.twig' %}

{% block title %}ERROR{% endblock %}

{% block body %}
<div  class="container-fluid" id="contentBody">
  <div class="card mb-8">
    <div class="card-header">
      ERROR
    </div>
    <div class="card-body">
          <h1>Error 409 la solicitud no pudo ser procesada debido a un conflicto<h1>
    </div>
  </div>
</div>
{% endblock %}

