{% extends 'layouts/base.html.twig' %}

{% block title %}ERROR{% endblock %}

{% block body %}
<div style="text-align: center;" class="container-fluid" id="contentBody">
  <div class="card mb-3">
    <div class="card-header">
      <h1  style="color: red">ERROR</h1>
    </div>
    <div class="card-body">
          <h1>ERROR 409 CONFLICTO EN LA SOLICITUD<h1>
    </div>
  </div>
</div>
{% endblock %}

