{% set permiso = 'layouts/base.html.twig' %}
{% if app.user %}
	{% if is_granted('ROLE_ADMIN') %}
		{% set permiso = 'layouts/admin.html.twig' %}
	{% elseif is_granted('ROLE_USER') %}
		{% set permiso = 'layouts/user.html.twig' %}
	{% endif %}
{% endif %}
{% extends permiso %}

{% block title %}ERROR
{% endblock %}

{% block body %}
	<div style="text-align: center;" class="container-fluid" id="contentBody">
		<div class="card mb-3">
			<div class="card-header">
				<h1 style="color: red">ERROR</h1>
			</div>
			<div class="card-body">
				{% if status_text == "Not Found" %}
					<h1>ERROR 404 PAGINA NO ENCONTRADA
						{{ status_code }}
						{{ status_text }}</h1>

				{% else %}
					<h1>ERROR 404
						{{ status_text }}</h1>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
