{% extends 'layouts/user.html.twig' %}

{% block title %}Eventos
{% endblock %}

{% block body %}
	<div class="container-fluid" id="contentBody">

		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-table"></i>Eventos</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="Eventos" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Fecha</th>
								<th>Descipcion</th>
								<th>Inicia a las</th>
								<th>Finaliza a las</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$(document).ready(function() {
        eventosList();
    });

function eventosList() {

  fetch('{{ path('list_evento_user') }}',{method: 'GET'})
    .then(response => response.json())
    .then(myJson => {
        var table = $('#Eventos').DataTable({
            "language": {
                 "decimal": "",
                 "emptyTable": "No hay información",
                 "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                 "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                 "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                 "infoPostFix": "",
                 "thousands": ",",
                 "lengthMenu": "Mostrar _MENU_ Entradas",
                 "loadingRecords": "Cargando...",
                 "processing": "Procesando...",
                 "search": "Buscar:",
                 "zeroRecords": "Sin resultados encontrados",
                 "paginate": {
                     "first": "Primero",
                     "last": "Ultimo",
                     "next": "Siguiente",
                     "previous": "Anterior"
                 }
            },
            "responsive": true,
            "order": [[ 1, 'desc' ]],
            "destroy": true,
        });
    table.clear();
    var options = { year: 'numeric', month: 'long', day: 'numeric' };
    for (var i = 0; i < myJson.length; i++) {
        table.row.add([
            myJson[i].nombre,
            myJson[i].fecha,
            myJson[i].descripcion,
            myJson[i].duracionInicio,
            myJson[i].duracionFin,
        ]);
     }
     table.draw();
    })
    .catch(function(err) {
       console.log(err);
    });
}
</script>

{% endblock %}
